.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-text {
  font-family: "Verdana";
}
.home-text03 {
  font-family: "Verdana";
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%),url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3JrJTIwbGFwdG9wfGVufDB8fHx8MTYyNjE3NjkzMA&ixlib=rb-1.2.1&h=1200');
}
.home-text04 {
  color: var(--dl-color-gray-white);
  font-size: 6em;
  font-family: "Verdana";
}
.home-text05 {
  color: var(--dl-color-gray-white);
  font-size: 30px;
  margin-top: var(--dl-space-space-twounits);
  font-family: "Verdana";
  margin-bottom: var(--dl-space-space-twounits);
}
.home-stats {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text06 {
  color: rgb(255, 124, 76);
  font-size: 3em;
}
.home-text07 {
  font-size: 1.5rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Verdana";
}
.home-text10 {
  color: var(--dl-color-gray-500);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Verdana";
}
.home-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text14 {
  color: rgb(255, 124, 76);
  font-size: 3em;
}
.home-text15 {
  font-size: 1.5rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Verdana";
}
.home-text16 {
  color: var(--dl-color-gray-500);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Verdana";
}
.home-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text17 {
  color: rgb(255, 124, 76);
  font-size: 3em;
}
.home-text18 {
  font-size: 1.5rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Verdana";
}
.home-text19 {
  color: var(--dl-color-gray-500);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Verdana";
}
.home-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text20 {
  color: rgb(255, 124, 76);
  font-size: 3em;
}
.home-text21 {
  font-size: 1.5rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Verdana";
}
.home-text22 {
  color: var(--dl-color-gray-500);
  font-size: 1rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Verdana";
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-500);
}
.home-text23 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
  font-family: "Verdana";
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text24 {
  color: var(--dl-color-gray-white);
  width: 800px;
  font-size: 1.25em;
  font-style: normal;
  text-align: center;
  font-family: "Verdana";
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-banner1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.home-text32 {
  font-size: 3rem;
  text-align: center;
  font-family: "Verdana";
  margin-bottom: var(--dl-space-space-unit);
}
.home-text33 {
  color: var(--dl-color-danger-700);
  font-size: 80px;
  font-family: "Verdana";
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text36 {
  color: var(--dl-color-danger-700);
  font-size: 80px;
  font-family: "Verdana";
}
.home-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text37 {
  align-self: flex-start;
  font-family: "Verdana";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
}
.home-text38 {
  width: 900px;
  font-size: 24px;
  font-family: "Verdana";
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text39 {
  color: var(--dl-color-danger-700);
  font-size: 5em;
  font-family: "Verdana";
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text40 {
  align-self: flex-start;
  font-family: "Verdana";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
}
.home-text41 {
  width: 900px;
  font-size: 24px;
  font-family: "Verdana";
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text42 {
  color: var(--dl-color-danger-700);
  font-size: 5em;
  font-family: "Verdana";
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text43 {
  align-self: flex-start;
  font-family: "Verdana";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
}
.home-text44 {
  width: 900px;
  font-size: 24px;
  font-family: "Verdana";
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text45 {
  color: var(--dl-color-danger-700);
  font-size: 5em;
  font-family: "Verdana";
}
.home-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text46 {
  align-self: flex-start;
  font-family: "Verdana";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
}
.home-text47 {
  width: 900px;
  font-size: 24px;
  font-family: "Verdana";
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text53 {
  color: var(--dl-color-danger-700);
  font-size: 5em;
  font-family: "Verdana";
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text54 {
  align-self: flex-start;
  font-family: "Verdana";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
}
.home-text55 {
  width: 900px;
  font-size: 24px;
  font-family: "Verdana";
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text56 {
  color: var(--dl-color-danger-700);
  font-size: 5em;
  font-family: "Verdana";
}
.home-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text57 {
  align-self: flex-start;
  font-family: "Verdana";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
}
.home-text58 {
  width: 900px;
  font-size: 24px;
  font-family: "Verdana";
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-text59 {
  color: var(--dl-color-danger-700);
  font-size: 5em;
  font-family: "Verdana";
}
.home-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text60 {
  align-self: flex-start;
  font-family: "Verdana";
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
}
.home-text63 {
  width: 900px;
  font-size: 24px;
  font-family: "Verdana";
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-banner2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
  background-color: #e14747;
}
.home-text64 {
  font-size: 3rem;
  text-align: center;
  font-family: "Verdana";
  margin-bottom: var(--dl-space-space-unit);
}
.home-text69 {
  font-size: 24px;
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  font-family: "Verdana";
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text70 {
  font-size: 24px;
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  font-family: "Verdana";
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 4px;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(217, 217, 217);
}
@media(max-width: 1200px) {
  .home-text01 {
    color: #000000;
  }
  .home-text06 {
    color: rgb(255, 124, 76);
    font-size: 3rem;
  }
  .home-text23 {
    font-size: 3rem;
  }
  .home-text24 {
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    font-weight: 500;
  }
  .home-banner1 {
    background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  }
  .home-text32 {
    font-size: 3rem;
  }
  .home-text33 {
    color: #f74242;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
  }
  .home-text34 {
    color: #f74242;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
  }
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-text04 {
    text-align: center;
  }
  .home-text05 {
    text-align: center;
  }
  .home-text06 {
    text-align: center;
  }
  .home-text14 {
    text-align: center;
  }
  .home-text17 {
    text-align: center;
  }
  .home-text20 {
    text-align: center;
  }
  .home-text24 {
    text-align: center;
  }
  .home-text69 {
    width: 100%;
  }
  .home-text70 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .home-text07 {
    text-align: center;
  }
  .home-text15 {
    text-align: center;
  }
  .home-text18 {
    text-align: center;
  }
  .home-text21 {
    text-align: center;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text38 {
    width: 20%;
  }
  .home-text41 {
    width: 20%;
  }
  .home-text44 {
    width: 20%;
  }
  .home-text47 {
    width: 20%;
  }
  .home-text48 {
    width: 20%;
  }
  .home-text55 {
    width: 20%;
  }
  .home-text58 {
    width: 20%;
  }
  .home-text63 {
    width: 20%;
  }
  .home-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text69 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text70 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-text03 {
    color: var(--dl-color-danger-700);
    width: auto;
    font-family: Verdana;
  }
  .home-hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text04 {
    font-size: 5em;
  }
  .home-stats {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text24 {
    width: 350px;
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text32 {
    font-size: 3rem;
  }
  .home-text33 {
    color: var(--dl-color-danger-700);
    font-size: 40px;
    font-family: Verdana;
    letter-spacing: auto;
  }
  .home-text34 {
    color: #f74242;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
  }
  .home-container02 {
    width: auto;
    align-self: center;
  }
  .home-container03 {
    width: 350px;
  }
  .home-text38 {
    width: auto;
  }
  .home-container05 {
    width: 350px;
  }
  .home-text41 {
    width: auto;
  }
  .home-container07 {
    width: 350px;
  }
  .home-text44 {
    width: auto;
  }
  .home-container09 {
    width: 350px;
  }
  .home-text47 {
    width: auto;
  }
  .home-text48 {
    width: 10%;
  }
  .home-container11 {
    width: 350px;
  }
  .home-text55 {
    width: auto;
  }
  .home-container13 {
    width: 350px;
  }
  .home-text58 {
    width: auto;
  }
  .home-container15 {
    width: 350px;
  }
  .home-text63 {
    width: auto;
  }
  .home-banner2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
